// you can change colors here
//$theme-color: #8fdf82;
// 将边框颜色加深
$border-color: (
  light: #ddd,
  dark: #444,
);
$vp-font: '"IzihunBlackBold", YouYuan';
$vp-font-heading: '"IzihunBlackBold", YouYuan';
$vp-font-mono: '"IzihunBlackBold", YouYuan';