// you can change colors here
$theme-color: #6db33f, #2196f3, #f26d6d, #a8b1ff, #fb9b5f;
// 将边框颜色加深
$vp-c-border: (
  light: #ddd,
  dark: #444,
);
$vp-c-text: (
  light: #333,
  dark: #9e9e9e,
);
$vp-font: '"IzihunBlackBold", YouYuan';
$vp-font-heading: '"IzihunBlackBold", YouYuan';
$vp-font-mono: '"IzihunBlackBold", YouYuan';