// you can change colors here
//$theme-color: #8fdf82;
$theme-color: #6db33f;
$theme-colors: #2196f3, #f26d6d, #a8b1ff, #fb9b5f, #6db33f;
// 将边框颜色加深
$border-color: (
  light: #ddd,
  dark: #444,
);
$font-family: '"IzihunBlackBold", YouYuan';
$font-family-heading: '"IzihunBlackBold", YouYuan';
$font-family-mono: '"IzihunBlackBold", YouYuan';